.dashboard {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
}

.userDonateWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  background-color: var(--vermelho-hero, #9e2016);
  gap: 4rem;
  border-radius: 1rem;
  padding: 2rem;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  padding-right: 2rem;
}

.greetings {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.greetings h1 {
  color: var(--branco, #ffffff);
}

.userInfo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 0.6rem;
}

.info p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 0.8rem;
}

.info span {
  color: var(--branco, #ffffff);
  font-weight: 600;
  font-size: 1.2rem;
}

.scheduleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--vermelho-escuro, #b41b0f);
  text-decoration: none;
  background-color: var(--branco, #ffffff);
  border-radius: 4px;
  padding: 0.6rem;
  font-weight: 600;
  margin-top: auto;
}

.tipsCardContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tipsCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--branco, #ffffff);
  color: var(--cinza-escuro, #475569);
  list-style: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  height: 100%;
}

.tipsCardTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--preto, #000000);
  font-size: 1.5rem;
  font-weight: 600;
}

.tipsCard li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tipsCard li i {
  color: var(--vermelho, #dc2626);
  background-color: rgba(220, 38, 38, 0.15);
  padding: 0.5rem;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campaignSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.campaignTexts h1 {
  margin-bottom: 0.5rem;
}

.campaignTexts h2 {
  color: var(--cinza-escuro, #475569);
  font-size: 1rem;
  font-weight: 500;
}

.campaignCardsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.campaignCard {
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 2rem;
}

.CampaignDate {
  color: var(--cinza-escuro, #475569);
}

.campaignName {
  font-size: 1.5rem;
}

.campaignLocal {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--cinza-escuro, #475569);
}

.campaignDetails {
  border: 1.5px solid var(--vermelho-claro, #b91c1c);
  border-radius: 4px;
  background-color: transparent;
  color: var(--vermelho-claro, #b91c1c);
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.campaignDetails:hover {
  background-color: var(--vermelho-claro, #b91c1c);
  color: var(--branco, #ffffff);
}

.donateTable {
  display: flex;
  flex-direction: column;
}

.donateTableTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: var(--branco, #ffffff);
  border-radius: 1rem 1rem 0 0;
}

.tableTexts h1 {
  font-size: 1.4rem;
}

.tableTexts h2 {
  font-size: 1rem;
  color: var(--cinza-azulado, #416084);
}

.tableTopButton a {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--cinza-azulado, #416084);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.donateTable table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--branco, #ffffff);
}

.donateTable th {
  color: var(--cinza-azulado, #416084);
  text-align: left;
  background-color: var(--cinza-claro-background, #eeeeee);
  padding: 1.2rem;
}

.donateTable td {
  color: var(--cinza-escuro, #475569);
  border-bottom: 1px solid var(--cinza-borda, #dbdbdb);
  padding: 1rem;
}

.donateTable th:last-child,
.donateTable td:last-child {
  text-align: center;
}

.tableData {
  font-weight: 600;
}

.tableStatus {
  font-weight: 600;
}

.tableStatusCollected {
  color: var(--vermelho-claro, #b91c1c);
}

.tableIcon {
  color: var(--cinza-azulado, #416084);
}

.tableIcon i {
  cursor: pointer;
}

.donateTableBottom {
  display: flex;
  background-color: var(--cinza-claro-background, #eeeeee);
  padding: 1rem;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
}

.donateTableBottom button {
  color: var(--vermelho-claro, #b91c1c);
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}
