@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", "Manrope", "Epilogue";
}

:root {
  --bg: #FFFFFF;
  --white-e: #e3e3e3;
  --white-l: #f5f5fe;
  --card-red-bg: linear-gradient(135deg, #FF0000, #B41B0F);
  --card-dark-bg: #0F172A;
  --card-muted-bg: #f0f0f0;
  --foreground: #1B1C1C;
  --muted-foreground: #475569;
  --light-blue: #41679c;
  --card-dark-subtitle: #E1F3FF;
  --primary: #B41B0F;
  --primary-light: #94140b;
  --border-red: solid 1px#B41B0F;
  --badge-red-bg: #FFD7D3;
  --badge-red-foreground: #B41B0F;
  --badge-dark-bg: #2A3B63;
  --badge-dark-muted-bg: rgba(145, 145, 145, 0.15);
  --icon-primary: #B41B0F;
  --bg-icon-greenL: #86F8C9;
  --icon-green: #00513A;
}

body{
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
