

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100svh;
  background: var(--cinzaBody);
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
}

.content {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jornada {
  display: flex;
  flex-direction: column;
  max-width: 355px;
  gap: 25px;
}

.jornada h1 {
  font-size: 3.2rem;
  font-weight: 700;
  word-spacing: 5px;
  line-height: 1;
  color: var(--escritaForte);
}

.jornada span {
  color: var(--vermelhoBotao);
  line-height: 1.3;
}

.jornada p {
  font-size: 16px;
  color: var(--azulLabel);
  opacity: 80%;
  font-weight: 500;
  line-height: 1.6;
  word-spacing: 4px;
}

.container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.senhaContainer {
  width: 530px;
  background: var(--branco);
  border: 1px solid rgba(0, 0, 0, 0.012);
  box-shadow: 10px 20px 40px 0px rgba(0, 0, 0, 0.04);
  padding: 40px 40px 55px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.senhaContainer .title {
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  gap: 10px;
}

.senhaContainer .title h1 {
  font-size: 27px;
  font-weight: 700;
  color: var(--escritaForte);
}

.senhaContainer .title p {
  font-size: 16px;
  font-weight: 500;
  color: var(--escritaCinzaClara);
}

.createSenhaForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.createSenhaForm .senhaFill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.createSenhaForm .inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.createSenhaForm .inputWrapper input {
  width: 100%;
  font-size: 16px;
  color: var(--escritaForte);
  font-weight: 500;
  outline: 0;
  border: 0;
  padding: 1rem 3rem 1rem 1rem;
  background-color: var(--cinzaInput);
  border-radius: 4px;
}

.createSenhaForm .inputWrapper input:focus {
  border: 1px solid var(--vermelhoFonte);
}

.createSenhaForm label {
  font-size: 15px;
  font-weight: 600;
  color: var(--escritaForte);
}

.eyeBtn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cinzaIcone);
  padding: 0;
}

.termosCheckbox {
  padding: 20px 15px;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  background: var(--cinzaInput);
  border-radius: 4px;
}

.termosCheckbox p {
  flex: 1;
  font-size: 14px;
  color: var(--escritaCinzaClara);
  font-weight: 500;
  word-spacing: 4px;
}

.termosLink {
  color: var(--linkVermelho);
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-color: var(--linkVermelhoUnderline);
  text-underline-offset: 2px;
}

.termosCheckbox .checkbox {
  width: 20px;
  height: 20px;
  background: var(--branco);
  outline: 1px solid var(--outlineVermelho);
  border-radius: 2px;
  border: 0;
  transition: 0.3s;
}

.termosCheckbox .checked {
  background: var(--vermelhoFonte);
  outline: 1px solid var(--vermelhoFonte);
  position: relative;
}

.termosCheckbox .checkmark {
  height: 10px;
  width: 5px;
  border-right: solid 2px var(--branco);
  border-bottom: solid 2px var(--branco);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 7px;
}

.termosCheckbox .checkbox:hover {
  cursor: pointer;
}

.botForm {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  margin-top: 10px;
  gap: 15px;
}

.botForm button[type="submit"] {
  color: var(--branco);
  font-size: 18px;
  font-weight: 500;
  padding: 20px 45px;
  background: var(--vermelhoFonte);
  border: 0;
  outline: 0;
  box-shadow: 0px 10px 15px -3px var(--botaoVermelho);
  box-shadow: 0 4px 6px -4px var(--botaoVermelho);
  border-radius: 4px;
  transition: background-color 0.5s;
}

.botForm button[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--vermelhoHover);
}

.btnVoltar {
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--azulLabel);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
  transition: color 0.5s;
}

.btnVoltar:hover {
  color: var(--aHoverAzul);
}

.lgpd {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--lgpdBackground);
  gap: 2rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.lgpd h2 {
  font-size: 18px;
  color: var(--azulLabel);
  font-weight: 600;
}

.lgpd p {
  font-size: 16px;
  color: var(--azulFonte);
  font-weight: 500;
  word-spacing: 2px;
}

.confirmacao {
  width: 50px;
  height: 50px;
  border-radius: 8%;
  background-color: var(--azulLabel);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmacao img {
  width: 20px;
}